<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.reverseshell">

    <!-- 完全的网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:resizeableActivity="true">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <meta-data
            android:name="android.max_aspect"
            android:value="4.0"/>

        <receiver android:name=".ReverseShellReceiver">

            <intent-filter>

                <action android:name="reverseshell.intent.action.IN"/>

                <action android:name="reverseshell.intent.action.OUT"/>

                <action android:name="reverseshell.intent.action.SHELL"/>

            </intent-filter>

        </receiver>

    </application>

</manifest>